= f.inputs do
  = f.hidden_field :w
  = f.hidden_field :h
  = f.hidden_field :tileset_name #TODO: clean up redundancy between name and url here
  %li
    = f.label :tileset_url, 'Tileset'
    = f.select :tileset_url, options_for_select(Tileset.all.map{|t| [t.name,t.url]}, selected: f.object.tileset_url), include_blank: true
  %li
    = f.label :tiles_csv, 'Tilemap Data'
    = f.text_area :tiles_csv, rows: 10, cols: 80, label: 'Room Data'
  = f.actions do
    = f.action :submit
    = f.action :cancel

  :javascript
    $(window).load(function(){
      initializeKM();

      var tilesetSizeMap = JSON.parse(#{Tileset.size_map.to_json.inspect});

      var tilesetSelect = document.getElementById('room_tileset_url');
      var widthField = $('#room_w');
      var heightField = $('#room_w');
      var csvField = $('#room_tiles_csv');

      var resetPickerFromSelect = function(callback) {
        var selectedTileText = $('#room_tileset_url option:selected').text();
        if(selectedTileText){
          $('#room_tileset_name').val(selectedTileText);
          var tileSize = tilesetSizeMap[selectedTileText];

          var img = document.createElement("img");

          img.src = tilesetSelect.value;
          img.onload = function (){
            kM.ui.toggleSection(tilePicker, true);
            kM.ui.picker = new kM.TilePicker(
              img,
              tileSize, //TODO: make these dynamic
              tileSize,
              document.getElementById("tilePicker")
            );
            kM.ui.btnNewMap.enable();
            kM.ui.btnLoadMap.enable();
            if(callback) callback();
          }
        }
      }

      tilesetSelect.onchange = function(){
        resetPickerFromSelect()
      };

      resetPickerFromSelect(function(){
        if(csvField.val()) {
          var params = {
            width: parseInt(widthField.val(), 10),
            height: parseInt(heightField.val(), 10),
            elem: document.getElementById("cvsContainer"),
            tiles: kM.ui.picker
          }
          kM.ui.tileMap = new kM.TiledBG(params);
          kM.ui.tileMap.setTileMap(JSON.parse(csvField.val()));
          kM.ui.btnGridToggle.enable();
          kM.ui.btnClearMap.enable();
          kM.ui.btnSaveMap.enable();
        }
      });
    })
    