#image-selectors
= f.inputs do
  = f.hidden_field :w
  = f.hidden_field :h
  = f.hidden_field :tiles_csv
  = f.hidden_field :tileset_name
  %li
    = #f.label :tileset_name, 'Tileset'
    = #f.select :tileset_name, options_for_select(Tileset.all.map(&:name)), include_blank: true
    

  :javascript
    $(window).load(function(){
      var tilesetSizeMap = JSON.parse(#{Tileset.size_map.to_json.inspect});
      var tilesetUrlMap = JSON.parse(#{Tileset.url_map.to_json.inspect});

      var tilesetSelect = $('#room_tileset_name');
      var widthField = $('#room_w');
      var heightField = $('#room_h');
      var csvField = $('#room_tiles_csv');

      //TODO: Clean this crap up, late night rush job ftl
      var resetPickerFromSelect = function(callback) {
        var selectedTileText = tilesetSelect.val();
        if(selectedTileText){
          initializeKM($('form.room').attr('id'));

          var tileSize = tilesetSizeMap[selectedTileText];

          var img = document.createElement("img");

          img.src = tilesetUrlMap[selectedTileText];
          img.onload = function (){
            kM.ui.toggleSection(tilePicker, true);
            kM.ui.picker = new kM.TilePicker(
              img,
              tileSize,
              tileSize,
              document.getElementById("tilePicker")
            );
            kM.ui.btnNewMap.enable();
            //kM.ui.btnLoadMap.enable();
            if(callback) callback();
          }
        } else {
          for(var name in tilesetUrlMap){
            if(tilesetUrlMap.hasOwnProperty(name)){
              var url = tilesetUrlMap[name];
              $(document.createElement("img"))
                .attr({src: url, 'data-tileset-name': name, class: 'image-selector'})
                .appendTo($('#image-selectors'))
                .pShadow()
                .pShadow({type: 'middle'})
                .click(function(){
                  $('#image-selectors').empty();
            
                  tilesetSelect.val($(this).attr('data-tileset-name'));
                  resetPickerFromSelect();
                });
            }
          }
        }
      }

      resetPickerFromSelect(function(){
        if(csvField.val()) {
          var params = {
            width: parseInt(widthField.val(), 10),
            height: parseInt(heightField.val(), 10),
            elem: document.getElementById("cvsContainer"),
            tiles: kM.ui.picker
          }
          kM.ui.tileMap = new kM.TiledBG(params);
          kM.ui.tileMap.setTileMap(JSON.parse(csvField.val()));
          kM.ui.btnGridToggle.enable();
          kM.ui.btnClearMap.enable();
          kM.ui.btnSaveMap.enable();
        }
      });
    })
    